@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: default;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  background: whitesmoke;
  letter-spacing: 0.5px;
  position: relative;
}
.site {
    max-width: 1200px;
    height: 100%;
    margin: 20px auto;
    background: #0b132b;
    color: white;
    box-shadow: 10px 10px #070b18;
    position: relative;
    display: flex;
  }
.all,
.right,
.base {
    box-sizing: border-box;
    float: left;
}
.all > div:last-of-type,
.right > div:last-of-type,
.base > div:last-of-type  {
    padding-bottom: 0;
}
.main{
    size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all .main img{
    
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    transition-duration: 0.3s;
}
.all .main img:hover{
    transform: scale(1.2);
    border-radius: 10%;
    transition-duration: 0.3s;
}
.all{
    background: #1c2541;
    height: 100%;
    width: 320px;
    padding: 30px 15px;
    color: white;
}
.all h3{
    text-align: center;
}
.contact small {
    margin-left: -20px;
}
.contact a{
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}
.contact a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #d90429;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
}
.contact a:hover::after,
.contact a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
ul{
    list-style-type: none;
    padding: 0px;
}
h3{
    margin: 15px 0;
    font-size: 1.25em;
    color: #d90429;
}
.right{
    padding: 15px;
    margin-left: 30px;
    width: 100%;
    height: 100%;
    display: flex;
}
.right h3{
    padding-left: 15px;
}
i{
    color: #d90429;
    font-size: 40px;
}
.contact i{
    font-size: 30px;
    transition-duration: 0.3s;
}
.contact span {
    color: #d90429;
    margin-left: -10px;
    transition-duration: 0.3s;
}
.contact div:hover i{
    color:orange;
    transition-duration: 0.3s;
}
.contact div:hover span{
    margin-top: -10px;
    transform: scale(0.8);
    color:#ef233c;
    transition-duration: 0.3s;
}
.contact div i {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 60px;
    color: #d90429;
    transition-duration: 0.3s;
    overflow: hidden;
}
small{
    font-size:14px;
    color: #ef233c;
}
#detail{
    font-size:20px;
}
.edu{
    float: left;
    height: 485px;
    background: #1c2541;
    width: 399.750px;
    padding: 15px;
    margin: 30px 30px 15px 0px;
}
.edu ul li{
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.edu span{
    transition-duration: 0.3s;
}
.edu small {
    color: white;
    opacity: 0.6;
    padding-left: 10px;
}
.edu ul li:hover span{
    color:#ef233c;
    transition-duration: 0.3s;
}

.skill{
    float: left;
    height: 485px;
    background: #1c2541;
    width: 399.750px;
    padding: 15px;
    margin: 30px 30px 15px 0;
    transition-duration: 0.3s;
}
.skill h3{
    padding-top: 0px;
}
.skill div span{
    transition-duration: 0.3s;
    margin-bottom: 5px;
}
.skill div{
    position: relative;
    margin-left: 15px;
    padding-top: 0px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.skill progress{
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
}
progress {
    height: 10px;
    width: 85%;
    vertical-align: middle;
    color: #d90429; 
    border-radius: 20px;
    transition-duration: 0.3s;
}
progress::-moz-progress-bar {
    height: 10px;
    background: #d90429;
    border-radius: 20px;
    transition-duration: 0.3s;
}
progress::-webkit-progress-bar {
    height: 10px;
    border: 0;
    background: white;
    border-radius: 20px;
    transition-duration: 0.3s;
}
progress::-webkit-progress-value {
    height: 10px;
    background: #d90429; 
    border-radius: 20px;
    transition-duration: 0.3s;
}
.skill div:hover progress::-moz-progress-bar{
    background: #ef233c;
    
}
.skill div:hover progress::-webkit-progress-value{
    background: #ef233c;
    box-shadow: 0 0 0 1px #ef233c;
}
.skill div:hover span{
    color:#ef233c;
    transition-duration: 0.3s;
}
.base {
    box-sizing: border-box;
    float: left;
    position: absolute;
    bottom: 30px;
    width: 919.5px;
    height: 25%;
    display: flex;
}
.base h3{
    width: 19%;
    padding-top: 30px;
    padding-left: 15px;
}

.hobby {
    display: flex;
    background: #1c2541;
    margin-right: 30px;
    width: 889.5px;
    padding: 15px 30px 15px 15px;
    transition-duration: 0.3s;
  }
  .hobby span {
      padding-left: 10px;
      transition-duration: 0.3s;
  }
.hobby div{
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60%;
    transition-duration: 0.3s;
  }
.hobby div i {
    font-size: 60px;
    width: 50px;
    height: 50px;
    line-height: 60px;
    color: #d90429;
    transition-duration: 0.3s;
  }
.hobby div:hover i {
    color: orange;
    transform: scale(1.2);
  }
.hobby div:hover span {
    color: #ef233c;
    transition-duration: 0.3s;
  }
  button h1.fade {
    opacity: 1;
  }
  .container {
      display: flex;
      justify-content: center;
      flex-direction: flex-start;
      align-items: center;
      vertical-align: middle;
      position: relative;
  }
#handle{
      background:#0b132b;
      color: #d90429;
      border: none;
      font-family: 'Kanit', sans-serif;
      height: 70px;
      font-weight: 900;
      border-radius: 20px;
      margin-top: 20px;
      transition-duration: 0.3s;
  }
  #handle:hover {
    color: #070b18;
    background: #d90429;
    transform: scale(1.3);
    transition-duration: 0.8s;
  }
  #handle h1{
    margin-top: 5px;
    font-size: 40px;
  }
  #detail{
    background:#0b132b;
    color: #d90429;
    border: none;
    font-family: 'Kanit', sans-serif;
    height: 50px;
    font-weight: 900;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 160px;
    transition-duration: 0.3s;
}
#detail:hover {
    background: white;
  color: #070b18;
  transform: scale(1.1);
  transition-duration: 0.8s;
}
#detail h1{
  margin-top: 5px;
  font-size: 40px;
}